*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
}
.form{
  margin: 0 auto;
  width: 500px;;
  height: 800px;
 
  display: flex;
  flex-direction: column;
  align-items: center;  
}
h1{
  margin:20px 0px;

}

.input-box{
  height: 50px;
  display: flex;
  margin: 0 auto 0 auto ;
  border-bottom: 1px solid grey;
}
.input-box label{
   font-size: 18px;
  font-weight: bold;
 
}
.input i{
  margin: 0px;
  display: absolute;
  top: 50px;
}
/* .second label{
  font-size: 18px;
  font-weight: bold;

} */
.fa-envelope{
  color: grey;
}
label{
  align-self: auto;
}
input{
  padding: 2px 5px;
  margin: 0px;
  border: none;
  outline: none;
  font-size: 20px;
}
.fa-lock{
  color: grey;
}


.forget-password{

  
  margin: 0px 0px 0px auto;
}
.using-account{
  display: flex;
  justify-content: space-around;

  

}
.seprator{
  font-size: 16px;
  font-weight: bold;
  margin: 0px auto 0px auto;
  padding: 5px;
}

.sign-in{
  margin: 0px auto 0px auto;
  width: 200px;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: bold;
}

i{
  font-size: 50px;
  margin: 2px;
  
}
.options{
  text-align: center;
}
.options a{
  margin-right: 20px;
}
.fa-user{
  color: grey;
  font-size: 40px;
}
.sign-up{
  margin: 5px;
  padding: 5px 40px;
}

.message{
  font-size: 1.5rem;
  color: red;
}

